* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
    width: 400px;
    background-color: #173e43;
}

h1 {
    font-family: 'Pacifico', cursive;
    text-align: center;
    color: #dddfd4;
}

button {
    height: 30px;
    outline: none;
    font-family: 'Roboto', sans-serif;
    background-color: #dddfd4;
}

table {
    clear: both;
    width: 395px;
    align-self: stretch;
    color: white;
}

tr {
    list-style-type: none;
    margin: .5em 0;
    display: block;
    background-color: #3fb0ac;
    
    border: 1px solid grey;
    padding-left: .2em;
}

tr:hover {
    background-color: #fae596;
    color: black;
}

td {
    font-family: 'Roboto', sans-serif;
}

.tabCloseButton {
    width: 20px;
    background-color: #DD8888;
}

.tabSaveButton {
    width: 20px;
    background-color: #88DD88;
}

.tabLoadButton {
    width: 20px;
    background-color: #8888DD;
}

#refreshButton {
}

#savedTabsButton {
}